@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/reset';


html, body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

