.card-container {
  background-color: cyan;
  width: 8vw;
  height: 20vh;
  margin: 3px;
}
.mat-card-image {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-bottom: 0px;
  padding: 0px;
}
.description {
  margin-left: 20px;
}
.wind {
  margin-left: 17px;
}
mat-card-title {
  margin-left: 0px;
}
